<% if @user_task %>
    <h1><%= @user_task.id %>の詳細</h1>
    
    <p>内容: <%= @user_task.content %></p>
    <p>ステータス: <%= @user_task.status %></p>
    <%= link_to '編集する', edit_task_path(@user_task) %>
    <%= link_to '削除する', @user_task, method: :delete, data: {confirm: '本当に削除していいですか？'} %>
<% else %>
    <p>タスクがありません。</p>
<% end %>
<%= link_to '一覧へ', tasks_path %>